/*navbar---------------------------------------------------------------------------*/
nav{
  position: fixed;
  background: rgba(167,219,216, 0.2) !important;
  padding:0px 20px;
  z-index: 20;
}
nav li a:hover{
  background: silver;
}
#minombre{
  font-family: 'Pacifico';
  font-size: 25px;
}

/*Body - background---------------------------------------------------------------*/
body{
  background-color: #E0E4CC;
  background-attachment: fixed;
  background-size: 100%;   
}

/*parallax----------------------------------------------------------------------*/
#portadadiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 100%;
 }
#quiensoy{
  display: flex;
  font-size: 18px;
  text-align: center;
  padding-top: 15em;
  padding-bottom: 1em;
  padding-left: 5em;
  padding-right: 5em;
  color: beige;
  margin: 0;
}
#butoncillodeportada{
  display: flex;
  flex-direction: row;
}
.fa-arrow-alt-circle-right{
  padding-left: 10px;
}

/*aptitudes----------------------------------------------------------------------*/
#blue {
  background: #E0E4CC !important;
 }
 h4{
  color:#FA6900;
}
.block{
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}
#elem{
  padding-top: 2em;
  
}

/*trabajos----------------------------------------------------------------------*/
.card-title{
  color: black !important;
}


/*sobremi------------------------------------------------------------------------*/
h5{
  font-family: Arial, Helvetica, sans-serif;
  padding-top:3em;
  color: aliceblue;
}

/*piedepagina--------------------------------------------------------------------*/
.page-footer{
  display: flex;
}
.fa-linkedin{
  display: inline-block;
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
}
.fa-github-alt {
  display: inline-block;
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
}
.fa-at{
  display: inline-block;
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
}
.iconos{
  display: flex;
  justify-content: center;
  width: 100;

}


/*modal--------------------------------------------------------------------------*/
.fa-window-close{
  display:flex;
  justify-content: flex-end;
  color:#f50057;
  font-size: 34px;
}
.fa-copy{
color: gray;
padding-left: 5px;
}
.fa-copy:hover{
color: palevioletred;
}
